<div class="container">
  <h1><%= @restaurant.name %> - <%= @restaurant.category %> restaurant</h1>
  <hr>
  <p>Adress: <%= @restaurant.address %> </p>
  <p>Phone number: <%= @restaurant.phone_number %></p>
  <hr>
  <div class="list-group">
    <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <small>
        <% count = 0 %>
        <% 5.times do %>
          <% if review.rating > count %>
            <i class="fas fa-star"></i>
          <% else %>
            <i class="far fa-star"></i>
          <% end %>
          <% count += 1 %>
        <% end %>
      </small>
      - <%= review.content %>
    </li>
    <% end %>
  </div>
  <hr>
  <h1>Enter you review</h1>
  <%= simple_form_for([@restaurant, @review]) do |f| %>
    <%= f.input :rating, collection: 0..5 %>
    <%= f.input :content %>
    <%= f.submit class: 'btn btn-primary mt-2' %>
  <% end %>

</div>
